.dsc {
    background-image: url(./background.jpg);
    background-size: cover;
    background-position:center;
    height: 500px;
    margin: 20px;
    padding-top: 220px;
    color: white;
    padding-left: 30%;
}
